<%= form_for(@pg) do |f| %>
  <% if @pg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pg.errors.count, "error") %> prohibited this pg from being saved:</h2>

      <ul>
      <% @pg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pg_name %><br>
    <%= f.text_field :pg_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.collection_select :state_id, State.order(:name), :id, :name, {prompt: "Select State"} %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, {prompt: "Select City"} %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br>
    <%= f.grouped_collection_select :area_id, City.order(:name), :areas, :name, :id, :name, {prompt: "Select Area"} %>
  </div>
  <div class="field">
    <%= f.label :pin_code %><br>
    <%= f.text_field :pin_code %>
  </div>
  <div class="field">
    <%= f.label :normal_bed_price %><br>
    <%= f.text_field :normal_bed_price %>
  </div>
  <div class="field">
    <%= f.label :ac_bed_price %><br>
    <%= f.text_field :ac_bed_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
