<p id="notice"><%= notice %></p>

<h1>Room Details</h1>

<p>
  <strong>Pg Name:</strong>
  <%= Pg.find(@room.pg_id).pg_name %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Room type:</strong>
  <%= RoomType.find(@room.room_type_id).desc %>
</p>

<p>
  <strong>Floor:</strong>
  <%= Floor.find(@room.floor_id).desc %>
</p>

<p>
  <strong>Number of beds:</strong>
  <%= @room.number_of_beds %>
</p>

<%= link_to 'Add Bed', new_bed_path(room_id: @room.id) %> |
<%= link_to 'List Beds', beds_path(room_id: @room.id) %> |
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path(pg_id: @room.pg_id) %>
