<p id="notice"><%= notice %></p>

<h1>Bed Details</h1>

<p>
  <strong>PG Name:</strong>
  <%= @bed.pg.pg_name %>
</p>

<p>
  <strong>Room Number:</strong>
  <%= @bed.room.room_number %>
</p>

<p>
  <strong>Bed number:</strong>
  <%= @bed.bed_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @bed.user_id %>
</p>

<p>
  <strong>Booked:</strong>
  <%= @bed.booked.to_s.humanize %>
</p>

<p>
  <strong>Expected booking date:</strong>
  <%= @bed.expected_booking_date %>
</p>

<p>
  <strong>Expected vacancy date:</strong>
  <%= @bed.expected_vacancy_date %>
</p>

<%= link_to 'Edit', edit_bed_path(@bed) %> |
<%= link_to 'Back', beds_path(room_id: @bed.room_id) %>
