<!DOCTYPE html>
<html>
<head>
  <title>Sharent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <header>
      <div>
        <div>
          <%= link_to "sharent", root_path %>
        </div>
          <ul>
            <li>
              <%= link_to "Contact Us", sharent_contact_path %>
            </li>
            <li>
              <%= link_to "Actions", sharent_action_path %>
            </li>
          </ul>
      </div>
    </header>
    <div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
